#tips {
	max-width: 25%;
	position: absolute;
	z-index: 9999;
	bottom: 12rem;
	right: 1rem;
	background-color: #1a1a1a;
	border-radius: 8px;
	padding: 1.5rem .5rem;
	border: 1px solid #747bff;
}

#tips div
{
	border-radius: 8px;
	margin-bottom: 5px;
	background-color: black;
	text-align: left;
	padding: .25rem 1rem;
}

#tips div span
{
	border: 2px solid #666;
	border-radius: 5px;
	color: #747bff;
	padding: .1em .5em;
	margin-left: .5em;
	font-weight: bold;
	font-size: .85em;
}

#clippy
{
	position: absolute;
	z-index: 9999;
	bottom: 2rem;
	right: 2rem;
	width: 12rem;
	cursor: pointer;
}

#clippy img
{
	display: block;
	width: 100%;
}